# [REQUERIDO] Groq API Key predeterminada para el servidor (Usada si el usuario no tiene la suya propia)
GROQ_API_KEY=gsk_tucodigoaqui

# [OPCIONAL] ElevenLabs API Key predeterminada para el servidor
ELEVENLABS_API_KEY=sk_tucodigoaqui

# Puerto en el que se ejecuta el servidor Backend
PORT=3003

# URL del Frontend permitida (CORS)
FRONTEND_URL=http://localhost:5173

# Límite de subida de archivos de audio
MAX_FILE_SIZE_MB=1024

# Directorios de uso temporal
TEMP_DIR=./src/temp
UPLOADS_DIR=./src/uploads